html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg);
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        background-color: var(--primary-bg);
        overflow: auto;
    }
}

.content {
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-columns: 225px auto;
}

@media only screen and (max-width: 768px){
    .content {
        display: grid;
        margin-bottom: 40px;
        height: auto;
        grid-template-columns: 100%;
    }
}

/*Navbar*/
.material-icons, .menu-icon, #menu-btn {
    display: none;
}

.stylized {
    font-family: 'Dancing Script', cursive;
}

/*Define cards*/
section {
    height: 40vh;
    color: var(--black);
    background-color: var(--primary-text);
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px -2px rgb(0 0 0 / 15%);
    overflow: scroll;
    margin: 25px;
    transition: var(--transition);
}

.card-hover:hover {
    box-shadow: 0px 0px 45px -2px rgb(0 0 0 / 15%);
}

.header {
    height: 40px;
    margin: 25px 25px 2px 25px;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    border: none;
    box-shadow: none;
    text-align: center;
}

.header h4,p {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    box-shadow: none;
    text-align: center;
    margin: 5px;
}

.header-text {
    display: block;
    position: relative;
    font-family: 'Nanum Gothic', sans-serif;
}

.header-text p {
    font-size: 12px !important;
}

.header-text h4 {
    font-size: 15px;
}

/*Cards*/
.card-group-half {
    display: grid;
    grid-template-columns: 50% 50%;
}

.card-group-third {
    display: grid;
    grid-template-columns: var(--third) var(--third) var(--third);
}

.card-group-two-thrid-sb {
    display: grid;
    grid-template-columns: var(--third) var(--two-thirds);
}

.card-group-two-thrid-bs {
    display: grid;
    grid-template-columns: var(--two-thirds) var(--third);
}

.card-full {
    display: grid;
    height: 75%;
}

.card-footer {
    margin-top: -20px;
    height: 60px;
}

.current {
    background-color: var(--black) !important;
    color: var(--primary-text) !important;
}

@media only screen and (max-width: 1000px) {
    section {
        margin: 25px 0px 25px 0px;
    }

    .card-group-half {
        display: grid;
        grid-template-columns: 100%;
    }

    .card-group-third {
        display: grid;
        grid-template-columns: 100%;
    }

    .card-group-two-thrid-sb {
        display: grid;
        grid-template-columns: 100%;
    }

    .card-group-two-thrid-bs {
        display: grid;
        grid-template-columns: 100%;
    }

    .card-footer {
        margin-top: -20px;
        height: 100px;
    }
}

.card-accounts {
    text-align: center;
    display: block;
}

.card-accounts-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Inconsolata', monospace;
}

.card-accounts-text p,h1 {
    margin: 2px;
}

.card-accounts-text h1 {
    font-size: 25px;
    font-weight: 500;
}

.card-accounts-text a {
    display: inline-block;
    margin: 5px 0px 0px 0px;
    padding: 2.5px 10px;
    color: var(--primary-text);
    border-radius: 10px;
    cursor: pointer;
    transition: var(--transition);
}

.card-accounts-text a:hover {
    display: inline-block;
    padding: 2.5px 10px;
    background-color: var(--black);
    color: var(--primary-bg);
    border-radius: 10px;
    cursor: pointer;
}

/*Specifics*/

/*Dashboard table*/
.history-table {
    border-collapse: collapse;
    background-color: var(--primary-text);
    margin: 10px;
}

.activities-table {
    border-collapse: collapse;
    background-color: var(--primary-text);
    margin: 10px;
}

.history-table th, td {
    width: 200px;
    padding: 5px;
    color: var(--black);
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.history-table tr {
    height: 5px;
    transition: var(--transition);
}

.history-table tr:nth-child(1):hover {
    background-color: var(--primary-text);
}

.tr-hover-disable:hover {
    background-color: var(--primary-text) !important;
}

.history-table tr:hover {
    background-color: var(--primary-bg);
}

.negative {
    color: #ff0000 !important;
}

.positive {
    color: #368836 !important;
}

.dashboard {
    margin: 0px 40px 40px 40px;
    overflow: scroll;
}

@media only screen and (max-width: 1000px) {
    .dashboard {
        margin: 0px 40px 40px 40px;
    }
}

.currency-text {
    font-style: italic;
}

/*Footer*/
footer {
    z-index: 101;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-text);
    color: var(--black);
    text-align: center;
    height: 40px;
    box-shadow: 0px 0px 5px -2px rgb(0 0 0 / 15%);
    border: 1px solid rgba(0,0,0,0.15);
}

footer div {
    position: relative;
    top: 50%;
    transform: translateY(-70%);
    font-family: 'Inconsolata', monospace;
}